<app-nav-bar></app-nav-bar>
<div class="divLogoImg">
<img class="logoImgFilm" src="https://raw.githubusercontent.com/MartinBriday/PFF_WatchNow/main/docs/FilmLogo2.png" alt="">
</div>
<h1>Films d'action</h1>
<div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="carouselSlide" *ngFor="let l of listMostPopularFilmByGenreAction$ | async">
      <button ><img class="carouselImage" [src]="l.image.url"></button>
    </ng-template>
  </owl-carousel-o>
</div>

<h1>Films d'horreur</h1>
<div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="carouselSlide" *ngFor="let l of listMostPopularFilmByGenreHorror$ | async">
      <button ><img class="carouselImage" [src]="l.image.url"></button>
    </ng-template>
  </owl-carousel-o>
</div>

<h1>Films de crimes</h1>
<div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="carouselSlide" *ngFor="let l of listMostPopularFilmByGenreCrime$ | async">
      <button ><img class="carouselImage" [src]="l.image.url"></button>
    </ng-template>
  </owl-carousel-o>
</div>

<h1>Films d'animation</h1>
<div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="carouselSlide" *ngFor="let l of listMostPopularFilmByGenreAnimation$ | async">
      <button ><img class="carouselImage" [src]="l.image.url"></button>
    </ng-template>
  </owl-carousel-o>
</div>

<app-footer></app-footer>
