<!-- <div>
  <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide class="carouselSlide" *ngFor="let l of listMostPopularFilm$ | async">
      <button ><img class="carouselImage" [src]="l.image.url"></button>
    </ng-template>
  </owl-carousel-o>
</div> -->
<app-nav-bar></app-nav-bar>
<h1>Action movies</h1>
<div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="carouselSlide" *ngFor="let l of listMostPopularFilmByGenreAction$ | async">
      <button ><img class="carouselImage" [src]="l.image.url"></button>
    </ng-template>
  </owl-carousel-o>
</div>

<h1>Horror movies</h1>
<div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide class="carouselSlide" *ngFor="let l of listMostPopularFilmByGenreHorror$ | async">
      <button ><img class="carouselImage" [src]="l.image.url"></button>
    </ng-template>
  </owl-carousel-o>
</div>



