<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a href="https://www.facebook.com/" role="button" class="btn btn-floating m-1">
                <img src="https://cdn-icons-png.flaticon.com/512/145/145802.png" alt="logoFacebook"
                    style="height: 50px; height: 50px;"></a>

            <!-- Twitter -->
            <a href="https://twitter.com/" role="button" class="btn btn-floating m-1">
                <img src="https://cdn-icons.flaticon.com/png/512/3670/premium/3670151.png?token=exp=1655298574~hmac=3eede2874b16ed93d4356b7bc3273028" alt="logoTwitter"
                    style="height: 50px; height: 50px;"></a>

            <!-- Instagram -->
            <a href="https://www.instagram.com/" role="button" class="btn btn-floating m-1">
                <img src="https://cdn-icons.flaticon.com/png/512/3955/premium/3955024.png?token=exp=1655298719~hmac=7d7f7901695cbac44c9620edd740adf9" alt="logoInstagram"
                    style="height: 50px; height: 50px;"></a>

            <!-- Linkedin -->
            <a href="https://www.linkedin.com/" role="button" class="btn btn-floating m-1">
                <img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" alt="logoInstagram"
                    style="height: 50px; height: 50px;"></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" routerLink="/accueil">WatchNow.com</a>
    </div>
    <!-- Copyright -->
</footer>