<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/accueil">
            <img src="https://cdn-icons-png.flaticon.com/512/1057/1057635.png" alt="logo" width="32" height="32"
                class="d-inline-block align-text-top">
            WatchNow
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/films">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/series">Series</a>
                </li>
            </ul>
            <form class="d-flex">
                <input type="text" class="search-hover" [(ngModel)]="searchWord" name="searchWord" placeholder="Rechercher" />
                <button class="btn btn-default" type="submit" (click)="searchThis()">
                    <img src="https://cdn-icons.flaticon.com/png/512/5817/premium/5817754.png?token=exp=1654875071~hmac=b61a96024b7bd8334954b0de880e9c5a"
                        alt="" width="35" height="35" class="d-inline-block align-text-top">
                </button>
            </form>
            <button type="button" class="btn btn-outline-light btn-rounded"
                data-mdb-ripple-color="dark" routerLink="/connexion">Connexion</button>
        </div>
    </div>
</nav>