/* Page Accueil */
.search-hover {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}

.search-hover:hover {
  width: 300px;
  padding-left: 50px;
}

nav {
  padding-left: 3%;
  padding-right: 3%;
}
/*
body{
  background-color: blue;
}


Carousel */
body{
  background-color: grey;
}

.carouselImage {
  transition: transform 1s;
  padding: 30px;
}

.carouselImage:hover {
/*-ms-transform: scale(3) translate(30px); /* IE 9
-webkit-transform: scale(3) translate(30px); /* Safari 3-8
transform: scale(3) translate(30px);*/
transform: scale(1.3);
  z-index: 5;
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item img {
  width: 240px;
  height: 426px;
  /* width: 360px;
  height: 640px; */
}
/* Pour les titres (h1) de pages (categorie-film et serie, mon_compte*/
#titre_page {
  text-align: center;
  font-size: 300%;
  font-weight: bold;
}
