<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Film</title>
</head>

<body>
  <app-nav-bar></app-nav-bar>

<div class="container" id="affichageFilm" *ngIf="episode$ | async as f">
  <div >
    <div class="row">
      <div class="col-sm"><h1 class="text-center display-3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Saison {{f.numeroSaison}}</h1></div>
      <div class="col-sm"><h1 class="text-center display-3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Episode {{f.numero}} : {{f.titre}}</h1></div>
    </div>
    <img src="{{f.image.url}}" id="PosterFilm">
  </div>
<br>
  <div class="container" id="box">
    <div class="row">
      <div class="col-sm"><h2>Date de sortie : {{f.releaseDate}}</h2></div>
      <div class="col-sm"><button (click)="ngOnSwitchEpisode(f.previousEpisodeId)">Previous episode</button></div>
      <div class="col-sm"><button (click)="ngOnSwitchEpisode(f.nextEpisodeId)">Next episode</button></div>

    </div>

 <div *ngIf="oeuvreWatch$ | async as t">
      <h2 style="color: aliceblue;">How to watch ?</h2>

      <div *ngFor="let x of t.optionGroups">
        <p class="text-center display-3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: aliceblue; font-size: 20px; font-style: italic;">{{x.displayName}}</p>

        <div *ngFor="let y of x.watchOptions">
          <p class="text-center display-3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 15px;">Plateforme : {{y.primaryText}}</p>
          <button type="button" class="btn btn-primary"> <a href="{{y.link.uri}}" style="color: black;"> Lien vers la plateforme </a>  </button>
        </div>

      </div>
    </div>

  </div>

</div>

</body>

</html>
<router-outlet></router-outlet>
