<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Film</title>
</head>

<body>
  <app-nav-bar></app-nav-bar>

<div class="container" id="affichageFilm" *ngIf="film$ | async as f">
  <div >
    <h1>{{f.titre}}</h1>

    <img src="{{f.image.url}}" id="PosterFilm">
  </div>

  <div id="box">
    <h2>{{f.releaseDate}}</h2>
  </div>

  <div>
    <button routerLink="/film/{{f.id}}/synopsis/">Voir le synopsis complet</button>
  </div>
</div>

</body>

</html>
<router-outlet></router-outlet>
