
<div class="row justify-content-center">
    <div class="col-md-12 col-sm-12">
        <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto" style="width: 40rem; height: 15rem;">
            <h3 class="card-header display-1 text-muted text-center">
                Erreur 404
            </h3>

            <span class="card-subtitle mb-2 text-muted text-center">
                Page non trouvé !
            </span>

            <div class="card-body mx-auto">
                <a type="button" routerLink="/accueil"
                class="btn btn-sm btn-info text-white"> Retour à l'accueil </a>
            </div>
        </div>
    </div>
</div>

