
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serie</title>
</head>

<body>
  <app-nav-bar></app-nav-bar>

<div class="container" id="affichageFilm" *ngIf="serie$ | async as s">
  <div >

    <h1 class="text-center display-3" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;">{{s.titre}}</h1>
    <div>
      <p style="color: white;">Note des utilisateurs : {{s.ratings.rating}}/10</p>
      <p style="color: white;">Nombre de votes : {{s.ratings.ratingCount}}</p>
    </div>
    <img src="{{s.image.url}}" id="PosterFilm">
  </div>

  <div id="box">
    <h2 style="color: rgb(255, 232, 232);">Date de sortie : {{s.releaseDate}}</h2>
  </div>
  <div class="container">
    <p style="  display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: aliceblue;">{{s.plotSummary.text}}</p>
  </div>
<br>
  <div class="container">
    <div class="row">
      <div class="col"></div>
    <div class="col-6">
      <p style="color: rgb(255, 232, 232);">Liste des saisons et épisodes</p>
      <table class="table rtable rtable--flip" id="tableau">

      <tbody>

        <tr *ngFor="let saison of s.saisons">
          <th scope="col" >Saison {{saison.numero}}</th>
          <td *ngFor="let episode of saison.episodes; let index = index"><a routerLink="/serie/episode/{{episode}}">Episode {{index+1}}</a> </td>

        </tr>
      </tbody>
    </table></div>
    <div class="col"></div>
  </div>
  </div>
</div>



<div class="container" *ngIf="serie$ | async as f" id="affichageFilm">
  <button type="button" class="btn btn-primary" routerLink="/serie/{{f.id}}/synopsis/">Détails</button>
</div>

</body>

</html>
<router-outlet></router-outlet>
